// Civicrm: Event
// -----------------------------------------------------------------------------
.path--civicrm-event {

  .page__content-wrapper,
  .page__content {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .slice {

    .alert {
      border: 0;
      text-align: center;
      font-size: .9rem;
      border-radius: 0;
    }
  }
}

.slice--event-about {
  border-top: 1px solid $gray-light;
}

.slice--event-map {
  background-color: white !important;
}
