// Menu: Tree
// -----------------------------------------------------------------------------
ul.menu--tree {
  border: 2px solid $gray-light;
  border-radius: 3px;
  margin-bottom: 2rem;

  li.menu-item--expanded {
    position: relative;

    > ul.menu {
      display: none;
      margin: 0;
      padding: 0;
    }
  }

  .btn-toggle {
    position: absolute;
    top: 0;
    right: 0;
    min-width: auto;
    border-radius: 0;
    width: 44px;
    height: 44px;
    border: 0;
    background: none;
    outline: none;

    .down {
      display: none;
    }
  }

  li.menu-item--active-trail,
  li.open {

    > .btn-toggle {

      .down {
        display: inline-block;
      }

      .up {
        display: none;
      }
    }
  }

  li.menu-item--active-trail {

    > ul.menu {
      display: block;
    }
  }

  > li {
    border-bottom: 1px solid $gray-light;

    &:last-child {
      border-bottom: 0;
    }

    &.menu-item--active-trail,
    &.open {
      background-color: #f7f7f7;

      > a {
        color: #111;
      }
    }

    > a {
      padding: .5rem 1rem;
      display: block;
      font-size: 1.1rem;
      color: #111;

      &:hover {
        color: $link-hover-color;
      }
    }

    > .btn-toggle {
      border-left: 1px solid $gray-light;
    }

    > ul.menu {

      > li {
        border-top: 1px dashed $gray-light;

        > .btn-toggle {
          border-left: 1px dashed $gray-light;
        }

        > a {
          padding: .2rem 1rem;
          display: block;
          font-size: 1rem;
        }

        > .btn-toggle {
          height: 34px;
        }

        > ul.menu {
          border-top: 1px dashed $gray-light;

          > li {
            padding: .1rem 0;

            &:first-child {
              border-top: 0;
              padding-top: 1rem;

              .btn-toggle {
                top: 1rem;
              }
            }

            &:last-child {
              padding-bottom: 1rem;
            }

            > a {
              font-size: 1rem;
              display: block;
              padding: 0 2rem;
              color: #111;
            }

            .btn-toggle {
              height: 30px;
              right: 2rem;

              .fa-plus,
              .fa-minus {
                font-size: .8rem;
              }
            }

            ul.menu {
              display: none;

              > li {

                > a {
                  font-size: .85rem;
                  display: block;
                  padding: 0 3rem;

                  &:before {
                    content: '\b7\a0';
                  }
                }

                ul.menu {

                  a {
                    color: $gray-light;
                    padding: 0rem 4rem;
                  }
                }
              }
            }

            &.menu-item--active-trail {

              ul.menu {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
