// Image
// -----------------------------------------------------------------------------
img {
  max-width: 100%;
  height: auto;
}

img.icon {
  border-radius: 100%;
}

// For Media embedded images.
article, figure {
  &.embedded-entity {
    margin: 0 5px;
  }
  &.align-center {
    text-align: center;
  }
  &.align-right {
    text-align: right;
  }
  &.align-left {
    text-align: left;
  }
}
