{#
/**
 * @file
 * Template for the Social links menu.
 */
#}

{%
set menu_classes = [
'menu',
'menu--social-links',
'menu--inline',
]
%}

<ul{{ attributes.addClass(menu_classes) }}>
  {% for item in items %}
    {%
      set item_classes = [
        item.in_active_trail ? 'active',
      ]
    %}
    <li{{ item.attributes.addClass(item_classes) }}>
      <a href="{{ item.url }}" target="_blank"><i class="fa fa-{{ item.title|lower }}-square"></i></a>
    </li>
  {% endfor %}
</ul>
