.view--roundearth-search--page {
  .views-field-search-api-excerpt {
    margin-bottom: 10px;

    img {
      float: left;
      margin: 0 10px 5px 0;
    }

    &::after {
      clear: both;
      content: '';
      display: table;
    }
  }
}
