// View: Recent news (Big)
// -----------------------------------------------------------------------------
.view--roundearth-news-recent--block-big {

  .view__content {

    .view__row {
      margin-bottom: 2em;
      overflow: hidden;

      h4 {
        margin-top: 0;
      }
    }
  }
}

// View: Recent news (Small)
// -----------------------------------------------------------------------------
.view--roundearth-news-recent--block-small,
.view--roundearth-news-recent--page-1 {

  .view__row {

    + .view__row {
      border-top: 1px solid $gray-lighter;
      padding-top: 1em;
      margin-top: 1em;
    }
  }
}

.view--roundearth-news-recent--block-small {

  .views-field-title {

    a {
      font-weight: 700;
    }
  }
}
