@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans");
.page {
  max-width: 1002px;
  position: relative; }
  .page .container {
    width: auto; }
  @media (min-width: 768px) {
    .page {
      border: 1px solid #dfdfde;
      margin: 15px auto; } }
  .page__content {
    padding-top: 15px;
    padding-bottom: 15px; }
    @media (min-width: 992px) {
      .page__content {
        min-height: 800px; } }

.carousel .carousel-caption h3 {
  font-size: 2rem; }

.carousel .carousel-caption p {
  font-size: 1rem; }

.civicrm-event--full {
  margin-left: -15px;
  margin-right: -15px; }
  .civicrm-event--full .container {
    margin-left: 0;
    margin-right: 0; }

/*# sourceMappingURL=pangea.fixed.css.map */
